.App {
  text-align: center;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;

  width: 48vw;
}
.table1 {
  margin-right: 10px;
}
th,
tr:nth-child(1) {
  background-color: #eee;
}
